.weebly-footer {
	display: none;
}

.staticPosition {
	position:fixed;
}

#content {
	margin-left: 20%;
}

#contentHeader {
	margin-left: 20%;
}

.readMore {
	text-align: right;
}
	
.contentHeader {
	display:none;
}
		
#topSpace {
	visibility:hidden;
	padding-top: 200px;
}
		
@media screen and (max-width: 1000px) {
	#sidebar {
		display:none;
		margin:0;
		padding:0;
		width:0;
		height:0;
	}
	.offset-by-one {
		margin:0;
		padding:0;
		width:0;
		height:0;
	}
	.contentHeader {
		display: inline;
	}
	
	#topSpace {
		visibility: visible;
	}
}
		
