.weebly-footer {
	display: none;
}

.staticPosition {
	position:fixed;
}

#content {
	margin-left: 20%;
	padding-bottom: 100px;
}

#contentHeader {
	margin-left: 20%;
}

.readMore {
	text-align: right;
}
	
#contentHeader {
	display:none;
	text-align:center;
}
		
#topSpace {
	visibility:hidden;
	padding-top: 200px;
}

.hangingIndent {
	margin-left:.5in;
	text-indent:-.5in;
}

#siteFooter {
	text-align:center;
	padding-top: 10px;
}

.invisibleWhenFullscreen {
	display:none;
}

.invisibleWhenSmallscreen {
	display:inline;
}


.headerLink a:link {
	text-decoration: none;
	color: #000000;
}

.headerLink a:visited {
	text-decoration: none;
	color: #000000;
}

.headerLink a:active {
	text-decoration: none;
	color: #000000;
}

.headerLink a:hover {
	text-decoration: underline;
	color: #000000;
}



	
@media screen and (max-width: 1000px) {
	
	.invisibleWhenFullscreen {
		display:inline;
	}
	
	.invisibleWhenSmallscreen {
		display:none;
	}
	
	#sidebar {
		display:none;
		margin:0;
		padding:0;
		width:0;
		height:0;
	}
	.offset-by-one {
		margin:0;
		padding:0;
		width:0;
		height:0;
	}
	#contentHeader {
		display: inline;
	}
	
	#topSpace {
		visibility: visible;
	}
}
		
@media screen and (max-height: 500px) {
	
	.invisibleWhenFullscreen {
		display:inline;
	}
	
	.invisibleWhenSmallscreen {
		display:none;
	}
	
	#sidebar {
		display:none;
		margin:0;
		padding:0;
		width:0;
		height:0;
	}
	.offset-by-one {
		margin:0;
		padding:0;
		width:0;
		height:0;
	}
	#contentHeader {
		display: inline;
	}
	
	#topSpace {
		visibility: visible;
	}
}

